/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/*Generals*/

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-red: #ca1717;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
    display: inline-block;
}

h5 {
    font-size: 1em;
    font-weight: 600;
    color: var(--color-light);
}

hr {
    width: 95%;
    color: var(--color-lightgrey);
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: var(--color-lightgrey);
}

/*Flex Utility*/

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/*Class*/

.wrapper {
    background-color: var(--color-dark);
    height: 100vh;
}

.logo {
    width: 130px;
}

.icon {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

#profile {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background-color: var(--color-lightgrey);
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    min-height: 0;
}

#sidebar {
    flex: 0 0 230px;
    background-color: var(--color-black);
}

.sidebar-top {
    height: calc(100%-90px);
}

.sidebar-bottom {
    height: 90px;
}

.header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px); /*con le media query modifico questo*/
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.502);
    text-align: right;
}

.card {
    width: calc(100% / 6);
    padding: 5px;
}

div.box {
    overflow: hidden;
}

div.box1 {
    border-radius: 50%;
    overflow: hidden;
}

.box img {
    width: 100%;
}

.playlist {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--color-lightgrey);
    color: var(--color-black);
    font-size: large;
    font-weight: 1000;
    display: inline-block;
}

#sinister {
    width: 50px;
    height: 50px;
}

.inline-block {
    display: inline-block;
}

#upgrade {
    border: 1px solid var(--color-lightgrey);
    color: white;
    font-size: small;
    text-align: center;
    border-radius: 35px;
    height: 35px;
    line-height: 35px;
    width: 190px;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 300px;
}

.footer-right {
    padding: 10px;
    width: 300px;
    font-size: small;
    color: var(--color-lightgrey);
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-center {
    width: calc(100% - 600px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.range {
    accent-color: var(--color-lightgrey);
}

#range {
    accent-color: var(--color-lightgrey);
    padding: 0 150px;
}

/*Spacer*/

.p-10 {
    padding: 10px;
}

.p-bottom {
    padding-bottom: 10px;
}

.p-right {
    padding-right: 5px;
}

.p-left {
    padding-left: 10px;
}

.p-top {
    padding-top: 10px;
}

.m-10 {
    margin-left: 10px;
}

/*Text*/

.small {
    font-size: small;
    color: var(--color-lightgrey);
}

.x-small {
    font-size: 0.8em;
    color: var(--color-lightgrey);
}

.large {
    font-size: 1.8em;
}

.vertical-center {
    vertical-align: center;
}

.text-lightgrey {
    color: var(--color-lightgrey);
}

/*Page*/

body {
    background-color: var(--color-dark);
    color: white;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 100px 20px 20px;
}

footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
    position: relative;
    z-index: 2000;
}

footer .footer-center span {
    padding: 0 10px 10px 10px;
}

/*hover*/

nav a:hover {
    color: white;
}

#sidebar a:hover {
    color: white;
}

#sidebar .main-nav a:hover {
    border-left: 3px solid var(--color-highlight);
}

/*Media Query*/

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: ) {
    
}